:root {
    --primary: #EB1CCC;
    --secondary: #95989A;
    --text-color: #FFF;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER descricao-evento */
#descricao-evento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/img5.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    
}

#sobre-evento h2, .data-evento {
    color: var(--primary);
}

#sobre-evento h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.texto-decricao-evento {
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1rem;
}

#sobre-evento p {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

#sobre-evento .data-evento {
    font-weight: bold;
}

/*FORMULÁRIO*/
#formulario-inscricao {
    background-color: var(--secondary);
    padding: 2rem;
    max-width: 22%;
    border-radius: 7px;
}

#formulario-inscricao p {
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin-bottom: 1rem;
}

.formulario-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
}

.formulario-inputs label {
    color: var(--text-tertiary);
    margin-bottom: .3rem;
    font-weight: bold;
}

.formulario-inputs input, .formulario-inputs select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    opacity: .8;
}

.btn:hover {
    opacity: 1;
}

/*section beneficios*/
#beneficios-evento h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2rem;
    font-weight: 500;
}

.beneficios {
    width: 80%;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
}

.beneficio {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text-tertiary);
}

.beneficio .beneficio-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
}

#beneficio-1 {
    background-image: url(../img/img9.jpg);
}


#beneficio-2 {
    background-image: url(../img/img7.jpg);
}


#beneficio-3 {
    background-image: url(../img/img6.jpg);
}

/*section Localizacao*/
#localizacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3rem;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
}

#endereco, #aviso-localizacao {
    max-width: 30%;
}

#endereco {
    display: flex;
}

#endereco i {
    color: var(--primary);
    font-size: 4rem;
    margin-right: 0.5rem;
}

#endereco-detalhado {
    text-align: center;
    font-size: 1.3rem;
}

#aviso-localizacao h3 {
    color: var(--primary);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#aviso-localizacao p {
    line-height: 1.7rem;
}

/*section detalhes-evento*/ 
#detalhes-evento{
    width: 80%;
    margin: 0 auto;
}

.detalhe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4rem;
}

.detalhe img {
    width: 50%;
}

.detalhe h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

#detalhe-1 h3 {
    font-size: 3rem;
    font-weight: 700;
}

.descricao-detalhe {
    width: 100%;
    padding-left: 2rem;
}

.descricao-detalhe ul {
    list-style-position: inside;
}

.descricao-detalhe ul li {
    margin-bottom: .4rem;
}

.descricao-detalhe ul li:last-child {
    font-weight: bold;
}

/* section cta*/

#cta {
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

#cta h3 {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
}

#cta .btn {
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2rem;
}

/* footer */
#rodape {
    text-align: center;
    color: var(--secondary);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rodape h3 {
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

#rodape p:nth-child(2){
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#rodape span {
    font-weight: bold;
}

/* mobile */
@media (max-width: 450px) {
    
    /* descrição-evento*/
    #descricao-evento {
        flex-direction: column;
        height: auto;
    }

    .data-evento {
        font-size: .5rem;
    }

    #sobre-evento {
        padding: 2rem;
    }

    #sobre-evento h2 {
        margin-bottom: .5rem;
    }

    #formulario-inscricao {
        max-width: 70%;
        margin-bottom: 2rem;
    }

    /* section beneficios-evento*/

    .beneficios {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2rem;
    }

    .beneficio {
        max-width: 100%;
        margin-bottom: 2.4rem;
    }

    /* localização */

    #localizacao {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2rem 0;
    }

    #endereco {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #endereco i {
        margin: .3rem 0;
    }

    #aviso-localizacao {
        order: 1;
        max-width: 100%;
    }

    #aviso-localizacao h3 {
        margin-bottom: 0;
    }

    #aviso-localizacao p {
        display: none;
    }

    /* section detalhes-evento*/

    .detalhe {
        flex-direction: column;
        margin-bottom: .5rem;
        gap: 0;
    }

    .detalhe img {
        width: 100%;
        margin: 2rem 0;
    }

    #detalhe-1 img {
        display: none;
    }

    #descricao-detalhe {
        padding: 0;
    }

    #detalhe-3 img {
        order: 2;
    }

    #detalhe-3 .descricao-detalhe {
        order: 1;
    }

    /* section cta */
    
    #cta {
        text-align: center;
    }

    #cta .btn {
        width: 80%;
    }


}












